#left
{
	width: 30%;
	height: 800px;
	float: left;
}

#right
{
	width: 70%;
	height: 800px;
	float: left;
}

#left a
{
  float: left;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #999999;
}

#left a:hover
{
  background-color: #bbbbbb;
}

#right a
{
  float: left;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #999999;
}

#right a:hover
{
  background-color: #bbbbbb;
}
